.title {
    display: flex;
    margin: 50px;
    justify-content: center;
    border-bottom: solid 3px #cccccc;
    font-size:40px;
    color:red;
}
.QRlist {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
